<div class="container">
  <div class="title">
    <h1 routerLink="/">Shoping</h1>
  </div>

  <div class="log">
    <form [formGroup]="loginForm" (submit)="submit()">
      <mat-form-field
        *ngIf="!(accountService.currentUser$ | async)"
        class="form-field"
        appearance="outline"
      >
        <mat-label> User Name </mat-label>
        <input
          matInput
          formControlName="userName"
          required
          autocomplete="off"
        />
      </mat-form-field>

      <mat-form-field
        *ngIf="!(accountService.currentUser$ | async)"
        class="form-field"
        appearance="outline"
      >
        <mat-label> Password </mat-label>
        <input
          matInput
          formControlName="password"
          type="password"
          required
          autocomplete="off"
        />
      </mat-form-field>
      <button
        *ngIf="!(accountService.currentUser$ | async)"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Log In
      </button>
    </form>
  </div>

  <button
    mat-button
    *ngIf="accountService.currentUser$ | async"
    [matMenuTriggerFor]="menu"
    color="primary"
    class="reg"
  >
    Menu
  </button>
  <mat-menu #menu="matMenu">
    <button
      mat-menu-item
      *ngIf="accountService.currentUser$ | async"
      routerLink="/products"
    >
      Browse Products
    </button>
    <button mat-menu-item *appHasRole="['Admin']" routerLink="/edit/products">
      Edit Products
    </button>
    <button *appHasRole="['Admin']" mat-menu-item routerLink="/users">
      Users Status
    </button>
    <button
      mat-menu-item
      *ngIf="accountService.currentUser$ | async"
      (click)="logOut()"
    >
      LogOut
    </button>
  </mat-menu>
</div>
